/*
 * acme-aria.dts - Device Tree file for Aria G25
 *
 * by Manzoni Giovanni, thanks to all Linux comunity.
 *
 * 11/02/2016 fix rs485 sections
 * 19/11/2015 this is not full version yet.
 */
 
/dts-v1/;
#include "at91sam9g25.dtsi"

/ {
	model = "Acme Systems Aria G25";
	compatible = "acme,ariettag25", "atmel,at91sam9x5", "atmel,at91sam9";
	interrupt-parent = <&aic>;

	aliases {
		serial0 = &dbgu;
		serial1 = &usart0;
		serial2 = &usart1; // /dev/ttyS2
		serial3 = &usart2;
		serial4 = &usart3;
		serial5 = &uart0;
		serial6 = &uart1;
	};

	chosen {
		stdout-path = "serial0:115200n8";
		bootargs = "console=ttyS0,115200 root=/dev/mmcblk0p2 rw rootwait";
	};

	memory {
		/* 128 MB Aria G25 version */
		reg = <0x20000000 0x8000000>;
		/* 256 MB Aria G25 version */
		/* reg = <0x20000000 0x10000000>; */
	};

	clocks {
		slow_xtal: slow_xtal {
			compatible = "atmel,osc", "fixed-clock";
			clock-frequency = <32768>;
		};
		
		main_xtal: main_xtal { 
			compatible = "atmel,osc", "fixed-clock";
			clock-frequency = <12000000>; 
		}; 
	};

	ahb {
		compatible = "simple-bus";
                #address-cells = <1>;
                #size-cells = <1>;
                ranges;

		apb {
			compatible = "simple-bus";
                	#address-cells = <1>;
               	 	#size-cells = <1>;
                	ranges;

			// compatible ="atmel,xxx by kernel documentation";
			// reg = <register dimension>; by memory mapping in datasheet
			// interrupts = <x y z>; 
			//    x: irq number, [0..31] Advanced Interrupt Controller (AIC) 
			//    y: flags: Edge-triggered or Level-sensitive, ex. IRQ_TYPE_LEVEL_HIGH = [0..10], look at Linux/include/linux/irq.h
			//    z: priority ? if yes -> [0..7], 7 = High, 0 = Low
			// dmas <x y z>;
			//    x: DMA Controller number, ex. &dma0, &dma1
			//    y: always 1 ?? consisting of a phandle to DMA controller node, http://stackoverflow.com/questions/31095951/what-is-the-meaning-of-a-phandle-when-used-as-device-tree-node-name
			//    z: DMA Channel Number [0..15] look at datasheet section 30.3 DMA Controller Peripheral Connections
			// dma-names = "tx", "rx"; / "rxtx"; / "rx"; / "tx"; 
			// atmel,fifo-size = <xx>;  see datasheet dma section
			// pinctrl-names = "default"; or custom name, but where it will be put ?
			// clocks = <&mci0_clk>; specific peripheral clk names, see linux kernel doc
			// pinctrl-0 = < xxxxxx > for set specifics pins
			// status = "okay"; for use/enable the peripheral

			aic: interrupt-controller@fffff000 {
                                #interrupt-cells = <3>; // 3 ! cell 1: irq num; cell 2:flag; cell 3: priority.
                                compatible = "atmel,at91rm9200-aic";
                                interrupt-controller;
                                reg = <0xfffff000 0x200>;
				status = "okay";  // ? is it needed ?
				atmel,external-irqs = <31>;  // what about it ?
                        };

			mmc0: mmc@f0008000 {
				compatible = "atmel,hsmci";
				reg = <0xf0008000 0x4000>;
				interrupts = <12 IRQ_TYPE_LEVEL_HIGH 0>; 
                                dmas = <&dma0 1 AT91_DMA_CFG_PER_ID(0)>; 
                                dma-names = "rxtx";
				atmel,fifo-size = <64>;
                                pinctrl-names = "default";
                                clocks = <&mci0_clk>;
                                clock-names = "mci_clk";
                                #address-cells = <1>;
                                #size-cells = <0>;
				pinctrl-0 = <
					&pinctrl_mmc0_slot0_clk_cmd_dat0
					&pinctrl_mmc0_slot0_dat1_3>;
				status = "okay";
				slot@0 {
					reg = <0>;
					bus-width = <4>;
				};
			};

			i2c0: i2c@f8010000 {
				 compatible = "atmel,at91sam9x5-i2c";
				 reg = <0xf8010000 0x4000>;
                                 interrupts = <9 IRQ_TYPE_LEVEL_HIGH 6>; // 37.6.3
                                 dmas = <&dma0 1 AT91_DMA_CFG_PER_ID(7)>,
                                        <&dma0 1 AT91_DMA_CFG_PER_ID(8)>;
                                 dma-names = "tx", "rx";
				 atmel,fifo-size = <16>;
                                 #address-cells = <1>;
                                 #size-cells = <0>;
                                 pinctrl-names = "default";
                                 pinctrl-0 = <&pinctrl_i2c0>;
                                 clocks = <&twi0_clk>;
				 status = "okay";

				// i2c devices		
			};

			i2c1: i2c@f8014000 {
				 compatible = "atmel,at91sam9x5-i2c";
				 reg = <0xf8014000 0x4000>;
                                 interrupts = <10 IRQ_TYPE_LEVEL_HIGH 6>; // 37.6.3
                                 dmas = <&dma1 1 AT91_DMA_CFG_PER_ID(5)>,
                                        <&dma1 1 AT91_DMA_CFG_PER_ID(6)>;
                                 dma-names = "tx", "rx";
				 atmel,fifo-size = <16>;
                                 #address-cells = <1>;
                                 #size-cells = <0>;
                                 pinctrl-names = "default";
                                 pinctrl-0 = <&pinctrl_i2c1>;
                                 clocks = <&twi1_clk>;
				 status = "okay";
			};
		
			// TWD2+TCLK2 hidden behind ethernet, so no i2c2



			spi1: spi@f0004000 {
                                 #address-cells = <1>;
                                 #size-cells = <0>;
                                 compatible = "atmel,at91rm9200-spi";
                                 reg = <0xf0004000 0x100>;
                                 interrupts = <14 IRQ_TYPE_LEVEL_HIGH 3>;
                                 dmas = <&dma1 1 AT91_DMA_CFG_PER_ID(1)>,
                                        <&dma1 1 AT91_DMA_CFG_PER_ID(2)>;
                                 dma-names = "tx", "rx";
                                 pinctrl-names = "default";
                                 pinctrl-0 = <&pinctrl_spi1>;
                                 clocks = <&spi1_clk>;
                                 clock-names = "spi_clk";
                                 status = "okay";
                    	};


			serial1: serial@f801c000 {
				pinctrl-0 = <&pinctrl_usart0
					     &pinctrl_usart0_rts
					     &pinctrl_usart0_cts>;
				status = "okay";
			};

			// enable for rs232
/*
			serial2: serial@f8020000 {
				pinctrl-0 = <&pinctrl_usart1
					     // &pinctrl_usart1_rts 
					     // &pinctrl_usart1_cts 
					    >;
				status = "okay";
			};
*/
			// enable for RS485 
			serial2: serial@f8020000 { // 38.7.1   USART Control Register
				compatible = "atmel,at91sam9260-usart";
		                reg = <0xf8020000 0x4000>;
				clocks = <&usart1_clk>;
                                clock-names = "usart";
				pinctrl-0 = <&pinctrl_usart1 &pinctrl_usart1_rts &pinctrl_usart1_cts>;
				pinctrl-names = "default";
				linux,rs485-enabled-at-boot-time;
				rs485-rts-delay = <0 20>; // or <0 0> // // <a b> a for start of packet, b end of packet in milliseconds
				rs485-rts-active-high; // sets rts active high
				interrupts = <6 IRQ_TYPE_LEVEL_HIGH 5>; // = <6 4 5> // 38.5.3 Interrupt Sources
				dma-names = "tx", "rx";
				atmel,use-dma-rx;
		                atmel,use-dma-tx;
				atmel,fifo-size = <16>;
				dmas =  <&dma0 1 AT91_DMA_CFG_PER_ID(5)>,
                                        <&dma0 1 (AT91_DMA_CFG_PER_ID(6) | AT91_DMA_CFG_FIFOCFG_ASAP)>;
				status ="okay";			
			};


			serial3: serial@f8024000 {
				compatible = "atmel,at91sam9260-usart";
				reg = <0xf8024000 0x200>;
				pinctrl-0 = <&pinctrl_usart2>;
				// cannot activate RTS2+CTS2, clash with
				//  ethernet on PB0 and PB1 
				interrupts = <7 IRQ_TYPE_LEVEL_HIGH 5>;
				pinctrl-names = "default";
				status = "okay";
			};

			serial4: serial@f8028000 {
				compatible = "atmel,at91sam9260-usart";
				reg = <0xf8028000 0x200>;
				interrupts = <8 IRQ_TYPE_LEVEL_HIGH 5>;
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_usart3
					     // &pinctrl_usart3_rts 
					     // &pinctrl_usart3_cts 
					    >;
				status = "okay";
			};

			macb0: ethernet@f802c000 {
				phy-mode = "rmii";
				local-mac-address = [00 00 00 00 00 00];
				status = "okay";
			};

			serial5: serial@f8040000 {
				status = "disabled";
			};

			serial6: serial@f8044000 {
				status = "disabled";
			};

			adc0: adc@f804c000 {
 				 status = "okay";

                                 #address-cells = <1>;
                                 #size-cells = <0>;
                                 compatible = "atmel,at91sam9x5-adc";
                                 reg = <0xf804c000 0x100>;
                                 interrupts = <19 IRQ_TYPE_LEVEL_HIGH 0>;
                                 clocks = <&adc_clk>,
                                          <&adc_op_clk>;
                                 clock-names = "adc_clk", "adc_op_clk";
                                 atmel,adc-use-external-triggers;
                                 atmel,adc-channels-used = <0xffff>;  // this
				 // atmel,adc-channels-used = <0xf>;  // or this ? 
				 // atmel,adc-num-channels = <4>;  // what about that ?
                                 atmel,adc-vref = <3300>;
                                 atmel,adc-startup-time = <40>;
                                 atmel,adc-res = <8 10>;
                                 atmel,adc-res-names = "lowres", "highres";
                                 atmel,adc-use-res = "highres";
 
                                 trigger@0 {
                                         reg = <0>;
                                         trigger-name = "external-rising";
                                         trigger-value = <0x1>;
                                         trigger-external;
                                 };
 
                                 trigger@1 {
                                         reg = <1>;
                                         trigger-name = "external-falling";
                                         trigger-value = <0x2>;
                                         trigger-external;
                                 };
 
                                 trigger@2 {
                                         reg = <2>;
                                         trigger-name = "external-any";
                                         trigger-value = <0x3>;
                                         trigger-external;
                                 };
 
                                 trigger@3 {
                                         reg = <3>;
                                         trigger-name = "continuous";
                                         trigger-value = <0x6>;
                                 };
                         };
 

			dbgu: serial@fffff200 {
				// with dma on tx and rx
				compatible = "atmel,at91sam9260-dbgu", "atmel,at91sam9260-usart";
				reg = <0xfffff200 0x200>; // Figure 5-1. SAM9G25 Memory Mapping
				interrupts = <1 IRQ_TYPE_LEVEL_HIGH 7>;
                                pinctrl-names = "default";
                                pinctrl-0 = <&pinctrl_dbgu>;
                        //        atmel,use-dma-tx;
			//	atmel,use-dma-rx;
			//	atmel,fifo-size = <16>;
			//	dmas = <&dma1 1 (AT91_DMA_CFG_PER_ID(8) | AT91_DMA_CFG_FIFOCFG_ASAP )>, //;//HALF OK, | AT91_DMA_CFG_FIFOCFG_XXXX -> as what you prefer, see datasheet
                        //               <&dma1 1 (AT91_DMA_CFG_PER_ID(9) | AT91_DMA_CFG_FIFOCFG_ASAP)>;
                        //        dma-names = "tx";
                        //        dma-names = "tx", "rx";
				clocks = <&mck>;  
                                clock-names = "usart";
				status = "okay";
			};

/* 
// see below for pin sharing with spi1
			pinctrl@fffff400 {
				w1_0 {
					pinctrl_w1_0: w1_0-0 {
						atmel,pins = <0 21 0x0 0x1>; // PA21 PIO, pull-up 
					};
				};
			};
*/

			rtc@fffffeb0 {
				compatible = "atmel,at91sam9x5-rtc";
				reg = <0xfffffeb0 0x10>;
				clocks = <&clk32k>;
				// Atmel errata without fix:  Interrupt Mask Register cannot be used
				//interrupts = <1 IRQ_TYPE_LEVEL_HIGH 7>;
				status = "okay";
			};
		};

		usb0: ohci@00600000 {
			status = "okay";
			num-ports = <3>;
		};

		usb1: ehci@00700000 {
			status = "okay";
		};
	};

	leds {
		compatible = "gpio-leds";

		/* little green LED in middle of Aria G25 module */
		aria_led {
			label = "aria_led";
			gpios = <&pioB 8 GPIO_ACTIVE_HIGH>; /* PB8 */
			linux,default-trigger = "heartbeat";
		};

	};
//now mismatch with spi1 : [    1.234375] pinctrl-at91 ahb:apb:pinctrl@fffff400: pin pioA21 already requested by f0004000.spi; cannot claim for onewire@0
// you have to change gpio with an other one.
/*	onewire@0 {
		compatible = "w1-gpio";
		gpios = <&pioA 21 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_w1_0>;
	};
*/
};
